*{
    margin: 0px;
    padding: 0px ;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: auto;
   margin-top: 15px;
}

nav{
    display: flex;
   
}
ul.nav{
    display: flex;
    list-style-type: none;
    border-right: 1px solid black;
    padding-right: 25px;
    column-gap: 25px;
    padding-top: 10px;
}

.Assistance{
    display: flex;
    column-gap: 10px;
    padding-left: 25px;
}

main{
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.top{
    height: 70vh;
    width: 100%;
    display: flex;
}

.left-item{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.h1-text{
    font-size: 50px;
    line-height: 50px;
    color: black;
}

button{
    border: 1px solid #FF6433;
    background-color: #FF6433;
    border-radius: 12px;
    color: #ffffff;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.period-icon{
    display: flex;
    column-gap: 10px;
}

.greyit{
    color: gray;
}

.period-icon h4 {
    color: black;
}

.right-item{
    background-image: url('./Image.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.box-up{
    background-color: #ffffff44;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 8vh;
    padding: 8px;
    position: absolute;
    left: -5%;
    margin-top: 10%;
}
.service{
    background-color: white;
    display: flex;
    align-items: center;
    width: 90%;
    height: 80%;
    padding: 8px;
    border-radius: 35px;
}
.time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 28%;
    height: 100%;
    background-color: #5fba99;
    border-radius: 25px;
    margin-right: 6px;
    padding: 2px;
}
.time>h4{
    color: aliceblue;
    font-size: 20px;
}
.time>p{
    color: aliceblue;
    font-size: 10px;
}
.box-down{
    background-color: #ffffff44;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 8vh;
    padding: 8px;
    position: absolute;
    left: 72%;
    margin-top: 70%;
}
.rating{
    width: 28%;
    height: 100%;
    margin-right: 6px;
    margin-left:8px ;
}
.rating>p{
    color: gray;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 190, 190);
}
.middle{
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
}
.mid{
    height: 60vh;
    width: 100%; 
    margin: auto;
    display: flex;
}
.midleft-item{
    display: grid;
    width: 50%;
}
.midright{
    width: 50%;
    display: grid;   
}
input{
    font-size: 100%;
    color: #0f0f0f;
    background-color: white;
    padding: 10px 15px;
    width: 97%;
    border-radius: 3px;
}