*{
    margin: 0px;
    padding: 0px ;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: auto;
   margin-top: 15px;
}

nav{
    display: flex;
   
}
ul.nav{
    display: flex;
    list-style-type: none;
    border-right: 1px solid black;
    padding-right: 25px;
    column-gap: 25px;
    padding-top: 10px;
}

.Assistance{
    display: flex;
    column-gap: 10px;
    padding-left: 25px;
}

main{
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.top{
    height: 70vh;
    width: 100%;
    display: flex;
}

.left-item{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.h1-text{
    font-size: 50px;
    line-height: 50px;
    color: black;
}

button{
    border: 1px solid #FF6433;
    background-color: #FF6433;
    border-radius: 12px;
    color: #ffffff;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.period-icon{
    display: flex;
    column-gap: 10px;
}

.greyit{
    color: gray;
}

.period-icon h4 {
    color: black;
}

.right-item{
    background-image: url('./Image.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 70vh;
    position: relative;
}

.first-img{
    position: absolute;
    left: -90px;
}

.second-img{
    position: absolute;
    top: 330px;
    left: 325px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 190, 190);
}
.middle{
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
}
.mid{
    height: 60vh;
    width: 100%; 
    margin: auto;
    display: flex;
}
.midleft-item{
    display: grid;
    width: 50%;
}

.midright{
    width: 50%;
    display: grid;
    
}
input{
    font-size: 100%;
    color: #0f0f0f;
    background-color: white;
    padding: 10px 15px;
    width: 97%;
    border-radius: 3px;
}