@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,500;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px ;
    font-family: 'Manrope', sans-serif;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
   height: 50px;
   width: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   background-color: #ffffff;
   z-index: 1000;
}
.header-div{
    height: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: flex-end;
   font-family: 'Playfair Display', serif;
}
ul.nav{
    display: flex;
    list-style-type: none;
    border-right: 1px solid black;
    padding-right: 25px;
    column-gap: 25px;
    height: 100%;
}
.Assistance{
    display: flex;
    column-gap: 10px;
    padding-left: 25px;
    height: 100%;
}
div>p{
    line-height: 15px;
}
.fa-solid {
    border: none;
    color: white;
}
.ic{
    
    background: #5fba99;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30px;
    height: 30px;
}

/* global styling*/
.parent{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.left-item{
    width: 50%;
    display:  flex ;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.right-item{
    height: 100%;
    width: 50%;
    display:  flex ;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.icon-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.icon-text>p{
    position: relative;
    left: 70px;
}
.context{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/*end of global styling*/

/* parent spec styling*/
#secondp{
    background: #E2E6E9
}
#thirdp{
    background-color: #ffffff;
}
#fourthp{
    height: 800px;
    background: #F2F2F2;

}
#fifthp{
    background-color: #FAFAFA;
    height:400px;
}
#fifthc{
    height: 80%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
#sixthp{
    background-color: #0f0f0f;

}
#sixthc{
    background-color: #5fba99;
}
/*end parent spec styling*/


/*left/right spec styling*/
#firstl{
    height: 70%;
    margin:5% 0% ;
}
#thirdr{
    margin: 5% 0%;
    height: 80%;
}
#secondl{
    height: 100%;
    margin: 5% 0%;
}
/*end left spec styling*/


/*spec styling*/
input{
    font-size: 100%;
    color: #0f0f0f;
    background-color: white;
    padding: 10px 10px;
    width: 95%;
    border-radius: 3px;
    border: none;
    margin: 2px 0px;
}
.context{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 30px;
}
.context>img{
    height: 35px;
    width: 35px;
}
.icon-text>div>p{
    width: 350px;
    border-left: 2px dotted red;
    padding-left: 25px;
    margin-left: 45px;
    font-size: 20px;
    line-height: normal;
}
#thirdl>p{
    width: 500px;
    font-size: 20px;
    line-height: normal;
}
#secondr>h1{
    width: 400px;
}
.h1-text{
    font-size: 48px;
}
.greyit{
    color: gray;
}
button{
    border: 1px solid #FF6433;
    background-color: #FF6433;
    border-radius: 12px;
    color: #ffffff;
    width: 203px;
    height: 50px;
    padding: 15px 30px;
}
.big-child{
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background: #F2F2F2;

}
.offer-text{
    right: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.icon-row{ 
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}
.icon-row>div{
    width: 267px;
    height: 49%;
    margin: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FfFfFf;
    justify-content: center;
    align-items: center;
}
.icon-row>div:hover{
    background-color:  #FF6433 ;
color: #ffffff;
}
.learn-about-us{
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.third-section-image1{
    background-image: url(./Image\ 1.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
}
.third-section-image2{
    background-image: url(./ovGrEUgrkyE.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%; 
}
span{
    display: flex;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}
.last-row4{
    margin-top: 10px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.last-row4>div{
    width: 25%;
    height: 70px; 
}
.last-row4>div>h1{
    color: #661CE7;
}
.front-box{
    height: 100%;
    width: 70%;
    background-color: #FF6433;
    position: relative;
    left: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 0px 40px;
}
.front-box>h1{
    color: white;
}
#black-bot{
    border: 1px solid black;
    background-color: black;
    border-radius: 12px;
    color: #ffffff;
    width: 203px;
    height: 50px;
    padding: 15px 30px;
}
#Brands{
    height: 100px;
    display: flex;
}
#Brands>div{
    width: 200px;
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #FfFfFf;
    margin: 7px ;
    align-items: center;
    justify-content: center;
}
/*end spec styling*/


/*top-img spec styling*/
.right-itemup{
    background-image: url(./Image.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.box-up{
    background-color: #faf4f238;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 65px;
    position: relative;
    left: -5%;
    margin-top: 10%;
}
.service{
    background-color: white;
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    border-radius: 35px;
}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #5fba99;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    color: aliceblue
}
.time>h4{
    font-size: 15px;
}
.time>p{
    font-size: 10px;
}
.box-down{
    background-color: #faf4f238;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 65px;
    left: 31%;
    margin-top: 65%;
    position: relative;
}
.rating{
    margin-right: 10px;
    margin-left: 10px;
    color: gray;
}
.service1{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 30px;
    border-radius: 35px;
    padding: 10px;
}
/* end-top-img spec styling*/

/* mobile styling*/
@media only screen and  (max-width: 425px) {
    *{ 
       font-size: 14px;
    }
    /*header styling*/
    .header{
        height: 100px;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: static;
    }
     .header-div{
        height: 90%;
        width: 90%;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
    .h1-text{
        font-size: 25px;
    }
    nav{
        width: 100%;
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
       font-family: 'Playfair Display', serif;
       flex-direction: column;
    }
    ul.nav{
        display: flex;
        list-style-type: none;
        border-right: none;
        border-bottom: 1px solid red;
        column-gap: 15px;
        width: 100%;
        padding-bottom: 5px;
        padding-right: 0px;
    }
    .Assistance{
        margin-top: 3px;
    }
    .ic{
        width: 25px;
        height: 25px;
    }
    /*end header*/

    /*first sect*/
    #firstp{
        align-items: flex-start;
    }
    #firstl{
        height: 30%;
        margin: 0px 0px 20px 0px;
    }
    .context>div>h4, .context>div>p{
        font-size: 16px;
    }
    .right-itemup{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
     /*second sect*/
    #secondl{
        height: 100%;
        margin: 0% 0%;
        gap: 5px;
    }
    .context>img{
        height: 20px;
        width: 20px;
    }
    .context{
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        padding: 0px 0px;
    }
    .icon-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .context>h4{
        font-size: 15px;
    }
    .icon-text>p{
        position: relative;
        left: 0px;
    }
    #secondr>h1{
        width:100%;
        font-size: 20px;
    }
    input{
        padding: 5px 5px;
        width: 90%;
        margin: 2px 0px;
    }

    /*third sect*/
    .icon-text>img{
        height: 15px;
        width: 15px;
    }
    #thirdl>p {
        width: 100%;
        font-size: 16px;
        line-height: normal;
    }
    .icon-text>div>p {
        width: 80%;
        border-left: 2px dotted red;
        padding-left: 5%;
        margin-left: 2%;
        font-size: 14px;
        line-height: normal;
    }

    /*fourth sect*/
    #fourthp{
        height: auto;
    }
    .offer-text>p, .offer-text>h1{
        font-size: larger;
    }
    .icon-row{ 
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;
    }
    .icon-row>div{
        width: 100px;
        height: 70px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .learn-about-us{
        margin-bottom: 20px;
        justify-content: center;
    }
    .front-box {
        height: 100%;
        width: 50%;
        position: relative;
        left: 0px;
        padding: 0px 20px;
    }
    #black-bot{
        color: #ffffff;
        width: 100%;
        height: 35x;
        padding: 0px 10px;
    }
    span{
        height: 200px;
        margin-bottom: 10px;
    }
    .third-section-image1 {
    display: flex;
    justify-content: flex-end;
    }
    .last-row4{
        margin-top: 5px;
        height: 50px;
        margin-bottom: 20px;
    }

    /* fifth sect*/
    #fifthp{
        height: auto;
    }
    #fifthc{
        gap: 5px;
    }
    #fifthc>h1{
        font-size: 14px;
    }
    #Brands{
        height: auto;
        margin-bottom: 0px;
        gap: 5px;
    }
    #Brands>div{
        width: 100px;
        height: 50px;
        margin: 1px;
        display: flex;
        flex-direction: column;
        background: #641818;
        justify-content: center;
        align-items: center;
    }

    /* universal*/
    .parent{
        height: auto;
        padding: 20px 0px;
    }
    .child{
        height: 100%;
        width: 90%;
        flex-direction: column;
    }
    .left-item, .right-item{
        gap: 10px;
        width: 100%;
        height: 50%;
    }
    button{
        border: 1px solid #FF6433;
        background-color: #FF6433;
        border-radius: 12px;
        color: #ffffff;
        width: 120px;
        height: 30px;
        padding: 5px;
    }
    /* end-universal*/

     /*rating& working hr @universal*/
    .box-up, .box-down{
        width: 120px;
        height: 35px;
        left: 0%;
        border-radius: 25px;
    }
    .service{
        height: 90%;
        border-radius: 25px;
    }
    .time{
        width: 35px;
        height: 25px;
        border-radius: 50%;
        margin-right: 3px;
        margin-left: 3px;
    }
    .time>h4{
        font-size: 10px;
    }
    .time>p{
        font-size: 5px;
    }
    .rating{
        margin-right: 5px;
        margin-left: 5px;
        color: gray;
    }
    .rating>p{
        display: none;
    }
    .service1{
        justify-content: flex-start;
        width: 80%;
        height: 60%;
        border-radius: 25px;
        padding: 5px;
    }

}
/* end mobile styling*/


/* tablet styling*/
@media only screen and (min-width:426px) and (max-width: 850px) {
    /*header */
     .header{
        height: 100px;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: static;
    }
      .header-div{
        height: 90%;
        width: 80%;
        gap: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    /* universal */
    .parent{
        height: auto;
        padding: 40px 0px;
    }
    .child{
        height: 90%;
    }
    .right-item{
        gap: 5px;
    }
    .left-item{
        gap: 5px;
    }
    button{
        border: 1px solid #FF6433;
        background-color: #FF6433;
        border-radius: 12px;
        color: #ffffff;
        width: 125px;
        height: 40px;
        padding: 5px;
    }
    h1{
        font-size: 20px;
    }

    /* first sect */
    #firstp{
        height: 600px;
        padding: 0px 0px;
    }
    .firstc{
        position: relative;
    }
    #firstl{
        width: 100%;
        position: absolute;
        color: white;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
    .ipad {
        font-size: 42px;
        text-align: center;
   }
   .context>div>h4, .context>div>p{
       font-size: 20px;
    }
    .right-itemup{
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        background-position: inherit;
    }

    /* second sect */
    #secondl{
        margin: 0%;
    }
    .h1-text{
        font-size: 32px;
    }
    .context>h4{
        font-size: 17px;
    }
    #secondr>h1{
        width: 100%;
    }

    /* third sect */
    input{
        padding: 5px 5px;
        width: 95%;
        margin: 2px 0px;
        height: 20px;
    }
    .context{
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        padding: 0px 0px;
    }
    .icon-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
    }
    .icon-text>p{
        position: relative;
        left: 0px;
    }
     .icon-text>img{
        height: 15px;
        width: 15px;
    }
    #thirdl>p {
        width: 100%;
        font-size: 14px;
        line-height: normal;
    }
    .icon-text>div>p {
        width: 80%;
        padding-left: 5%;
        margin-left: 6%;
        font-size: 14px;
        line-height: normal;
    }
    /* fourth sect */
    #fourthp{
        height: auto;
    }
    .icon-row{ 
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;
    }
    .icon-row>div{
        width: 150px;
        height: 80px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .learn-about-us{
        margin-bottom: 20px;
    }
    span{
        height: 200px;
        margin-bottom: 20px;
    }
    .third-section-image1 {
        display: flex;
        justify-content: flex-end;
    }
    .front-box {
        height: 100%;
        width: 50%;
        position: relative;
        left: 0px;
        padding: 0px 20px;
    }
    #black-bot{
        color: #ffffff;
        width: 100%;
        height: 30px;
        padding: 0px 10px;
    }
    .last-row4{
        margin-top: 5px;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* fifth sect */
    #fifthc{
        gap: 10px;
    }
    #fifthc>h1{
        font-size: 14px;
    }
    #Brands{
    height: 100px;
    width: 100%;
    gap: 5px;
    }
    #Brands>div{
        width: 80px;
        height: 50%;
        margin: 1px;
        display: flex;
        flex-direction: column;
        background: #641818;
        justify-content: center;
        align-items: center;
    }

    /* right-imgup*/
    .box-up, .box-down{
        width: 120px;
        height: 35px;
        left: 0%;
        margin-top: 0%;
        border-radius: 25px;
    }
    .service{
        height: 90%;
        border-radius: 25px;
    }
    .time{
        width: 35px;
        height: 25px;
        border-radius: 50%;
        margin-right: 3px;
        margin-left: 3px;
    }
    .time>h4{
        font-size: 10px;
    }
    .time>p{
        font-size: 5px;
    }
    .rating{
        margin-right: 5px;
        margin-left: 5px;
        color: gray;
    }
    .rating>p{
        display: none;
    }
    .service1{
        justify-content: flex-start;
        width: 80%;
        height: 60%;
        border-radius: 25px;
        padding: 5px;
    }
}
/* tablet styling*/